<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from preview.locotheme.com/grandium-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Jun 2020 18:03:21 GMT -->
<head>

    <!-- Basic Page Head -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>JacobsCourt Hotel Website</title>
    <meta name="description" content="JacobsCourt Hotel Website">
    <meta name="author" content="JacobsCourt Hotel Website">
    <meta name="keywords" content="hotel, hostel, motel, guesthouse, booking, accommodation, inn, spa, resort, travel, holiday, tourism, vacation">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/assets/img/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/apple-touch-icon-180x180.png">

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font.awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific.popup.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    isnotworkinginasp.nettoASP.netcore
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','~/www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66631247-10', 'auto');
  ga('send', 'pageview');

    </script>

</head>
<body>

    <!-- Site Loading -->
    <div class="site-loading">
        <img src="~/assets/img/loading.gif" alt="Loading">
    </div>
    <!-- Site Loading End -->
    <!-- Site Back Top -->
    <div class="site-backtop" title="Back to top">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Site Back Top End -->
    <!-- Site Header -->
    <div class="site-header">
        <!-- Header Top -->
        <div class="header-top">
            <div class="wrapper">
                <div class="header-contact">
                    <ul>
                        <li style="color:whitesmoke">+234 901 909 0900</li>

                    </ul>
                </div>
                <div class="header-lang" style="color:whitesmoke !important">
                    <ul>
                        <li style="color:whitesmoke !important"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li style="color:whitesmoke !important"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li style="color:whitesmoke !important"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li style="color:whitesmoke !important"><a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="wrapper">
                <div class="header-logo">
                    <a href="#">
                        <img src="assets\img\JamesCourt_logo.png" alt="Jocobs Court Hotel"
                             style="margin-left:-60px;">
                    </a>
                </div>
                <div class="header-nav">
                    <ul class="nav-left">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="aboutus.html">ABOUT US</a></li>
                        <li>
                            <a href="rooms.html">ROOMS</a>
                        </li>

                    </ul>
                    <ul class="nav-right">
                        <li><a href="services.html">SERVICES</a></li>
                        <li>
                            <a href="special-offers.html">Special Offers</a>
                        </li>
                        <li><a href="contactus.html">CONTACT</a></li>
                    </ul>
                </div>
                <div class="header-toggle">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->
    </div>
    <!-- Site Header End -->
    <!-- Site Main -->
    <div class="site-main">
        <!-- Section Slider -->
        <div class="section">
            <div class="widget-slider">
                <div class="wrapper-full">
                    <!-- Slider Carousel -->
                    <div class="widget-carousel owl-carousel owl-theme">
                        <div class="slider-item" data-background="assets/img/_MG_2552.jpg">
                            <div class="wrapper">
                                <div class="item-inner">
                                    <h5 style="font-weight: 300;">WELCOME TO THE JACOBSCOURT HOTEL</h5>
                                    <h1>You dont just Stay Here</h1>
                                    <h2 style="font-weight: 100; text-align: justify; font-size: larger;">You Enjoy your Stay</h2>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item" data-background="assets/img/P1050003.jpg">
                            <div class="wrapper">
                                <div class="item-inner">
                                    <h5>WELCOME TO THE JACOBSCOURT HOTEL</h5>
                                    <h1>A Place to <span style="color: #DDAF4B;">Relax</span></h1>
                                    <h2 style="font-weight: 100; text-align: justify; font-size: larger;">To the Fullest</h2>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item" data-background="assets/img/P1050014.jpg">
                            <div class="wrapper">
                                <div class="item-inner">
                                    <h5>WELCOME TO THE JACOBSCOURT HOTEL</h5>
                                    <h1>Experience a <span style="color: #DDAF4B;">Luxury </span>Experience</h1>
                                    <h2 style="font-weight: 100; text-align: justify; font-size: larger;">in Lagos, Nigeria</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Carousel End -->
                    <!-- Slider Booking -->
                    <div class="slider-booking">
                        <div class="wrapper">
                            <form>
                                <ul>

                                    <li>
                                        <i class="fa fa-calendar-plus-o"></i>
                                        <input type="text" name="checkin" placeholder="CHECK IN" class="datepicker" required>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar-plus-o"></i>
                                        <input type="text" name="checkout" placeholder="CHECK OUT" class="datepicker" required>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-down"></i>
                                        <select name="adults" required>
                                            <option value="">ADULTS</option>
                                            <option value="1">1 ADULT</option>
                                            <option value="2">2 ADULT</option>
                                            <option value="3">3 ADULT</option>
                                        </select>
                                    </li>
                                    <li>
                                        <i class="fa fa-caret-down"></i>
                                        <select name="childrens" required>
                                            <option value="">CHILDRENS</option>
                                            <option value="1">1 CHILDREN</option>
                                            <option value="2">2 CHILDREN</option>
                                            <option value="3">3 CHILDREN</option>
                                        </select>
                                    </li>
                                    <li>
                                        <button type="submit" href="rooms.html" class="btn">BOOK NOW</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- Slider Booking End -->
                </div>
            </div>
        </div>
        <!-- Section Slider End -->
        <!-- Section Rooms -->
        <div class="section">
            <div class="widget-rooms-carousel top-over">
                <div class="wrapper-inner">
                    <!-- Rooms Title -->
                    <div class="widget-title">
                        <h5>OUR ROOMS</h5>
                        <h2>Experience The Freedom</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
                    </div>
                    <!-- Rooms Title End -->
                    <!-- Rooms Carousel -->
                    <div class="widget-carousel owl-carousel owl-theme">
                        <div class="rooms-item">
                            <div class="item-inner">
                                <div class="item-photo">
                                    <a href="rooms-detail.html" data-background="assets/img/GGT_9976.jpg"></a>
                                </div>
                                <div class="item-desc">
                                    <h2><a href="rooms-detail.html">Diamond Room <Br> <small>(Double Room)</a></h2>
                                    <h3>₦50,000</h3>
                                    <p style="font-weight: 100; text-align: justify; font-size: smaller;">
                                        Our diamond apartment features a lush living room with sittings for a maximum of 4(four) guest and two
                                        separate bathrooms with kingsized comfy beds, sumptuous linens, en-suite bathrooms with guest toiletries...
                                    </p> <Br></small>
                                    <button type="submit" class="btn">BOOK NOW</button> <Br><Br>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="rooms-item">
                            <div class="item-inner">
                                <div class="item-photo">
                                    <a href="rooms-detail-2.html" data-background="assets/img/GGT_9976.jpg"></a>
                                </div>
                                <div class="item-desc">
                                    <h2><a href="rooms-detail-2.html">Diamond Room <Br> <small>(Double Room)</a></h2>
                                    <h3>₦40,000</h3>
                                    <p style="font-weight: 100; text-align: justify; font-size: smaller;">
                                        Our diamond apartment features a lush living room with sittings for a maximum of 4(four) guest and two
                                        separate bathrooms with kingsized comfy beds, sumptuous linens, en-suite bathrooms with guest toiletries...
                                    </p> <Br></small>
                                    <button type="submit" href="rooms-detail-2.html" class="btn">BOOK NOW</button> <Br><Br>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="rooms-item">
                            <div class="item-inner">
                                <div class="item-photo">
                                    <a href="rooms-detail-3.html" data-background="assets/img/GGT_9960.jpg"></a>
                                </div>
                                <div class="item-desc">
                                    <h2><a href="rooms-detail-3.html">Gold Room <br><small>(Single Room)</a></h2>
                                    <h3>₦35,000</h3>
                                    <p style="font-weight: 100; text-align: justify; font-size: smaller;">
                                        This beautifully crafted apartment features a lush living room with sittings for a
                                        maximum of four guest and a bedroom with a comfy Kingsized bed, sumptuous linens,
                                        and a well-appointed bathroom with guest toiletries
                                    </p> <Br></small>
                                    <button type="submit" class="btn">BOOK NOW</button> <Br><Br>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="rooms-item">
                            <div class="item-inner">
                                <div class="item-photo">
                                    <a href="rooms-detail-4.html" data-background="assets/img/_MG_2498.jpg"></a>
                                </div>
                                <div class="item-desc">
                                    <h2><a href="rooms-detail-4.html">Gold Room <br><small>(Single Room)</a></h2>
                                    <h3>₦25,000</h3>
                                    <p style="font-weight: 100; text-align: justify; font-size: smaller;">
                                        This beautifully crafted apartment features a lush living room with sittings for a
                                        maximum of four guest and a bedroom with a comfy kingsized bed, sumptuous linens,
                                        and a well-appointed bathroom with guest toiletries
                                    </p> <Br></small>
                                    <button type="submit" class="btn">BOOK NOW</button> <Br><Br>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Rooms Carousel End -->
                </div>
            </div>
        </div>
        <!-- Section Rooms End -->
        <!-- Section About Promo -->
        <div class="section">
            @RenderBody()
        </div>
        <!-- Site Main End -->
        <!-- Site Footer -->
        <div class="site-footer">
            <!-- Footer Top -->
            <div class="footer-top">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>SOCIAL MEDIA</h5>
                            <h6>FOLLOW THE JACOBSCOURT HOTEL</h6>
                            <div class="widget-social-icons">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h5>NEWSLETTER</h5>
                            <h6>WE LOVE TO SHARE NEW OFFERS AND EXLUSIVE PROMOTIONS</h6>
                            <div class="widget-newsletter">
                                <form>
                                    <input type="text" placeholder="ENTER YOUR E-MAIL ADDRESS" required>
                                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="wrapper">
                    <div class="footer-logo">
                        <img src="assets\img\JamesCourt_logo.png" alt="The JacobsCourt Hotel" alt="Jocobs Court Hotel">
                    </div>
                    <div class="footer-copyright">
                        <p>COPYRIGHT © THE JACOBSCOURT HOTEL</p>
                    </div>
                    <div class="footer-contact">
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Plot 17, Block 142, Olowo-Eko Close, Jose Maria Escriva Estate Lagos NG, Lekki Phase I 106104, Lekki, Lagos</li>
                            <li><i class="fa fa-phone"></i> +234 901 909 0900 </li>
                            <li><a href="mailto:jamescourthotel@gmail.com"><i class="fa fa-paper-plane"></i> JAMESCOURTHOTEL@GMAIL.COM</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">SITEMAP</a></li>
                            <li><a href="#">PRIVACY POLICY</a></li>
                            <li><a href="#">TERMS OF USE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom End -->
        </div>
        <!-- Site Footer End -->
        <!-- Scripts -->
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <script src="~/assets/js/jquery-ui.min.js"></script>
        <script src="~/assets/js/jquery.fitvids.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/magnific.popup.min.js"></script>
        <script src="~/assets/js/imagesloaded.pkgd.js"></script>
        <script src="~/assets/js/isotope.pkgd.min.js"></script>
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <script src="~/assets/js/booking.form.js"></script>
        <script src="~/assets/js/contact.form.js"></script>

        <!-- Map Scripts -->
        <script src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script src="~/assets/js/gmap3.min.js"></script>

         @*Custom Scripts 
        <script src="~/assets/js/custom.js"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>*@
        @*<script src="_framework/blazor.webassembly.js"></script>*@


        <script>
            window.initializeCarousel = () => {
                $('#carouselExampleIndicators').carousel({
                    interval: 1000
                })
            }
        </script>
</body>

<!-- Mirrored from preview.locotheme.com/grandium-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Jun 2020 18:03:36 GMT -->
</html>
