
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="widget-about-promo" data-background="assets/img/photo-about.jpg">
    <div class="wrapper-inner">
        <div class="widget-inner">
            <div class="row">
                <div class="col-md-6">
                    <h5>ABOUT THE JACOBSCOURT HOTEL</h5>
                    <h2>Your Perfect Escape</h2>
                    <p style="font-weight: 100; text-align: justify; font-size: large;">James Court Hotel & Luxury Apartment is your home away from home with lush comfy beds, clean and modern décor, ushering In a new era of premium hospitality and short-let accommodation in Lagos.  Our luxury hotel is built in a contemporary-style, where guests can enjoy the highest quality of indulgent provided more than comfort and appeal.</p>
                    <p style="font-weight: 100; text-align: justify; font-size: large;">Our selection of one and two-bedroom apartments are distinctively crafted to showcase unique characteristics, which set us apart from the competition and give our guests and unfit unforgettable experience on every visit.</p>
                    <a href="aboutus.html" class="btn">LEARN MORE</a>
                </div>
                <div class="col-md-6">
                    <img src="assets\img\tourists-with-bags-checking-hotel_74855-5297.png" style="margin-top: 100px;" alt="About US">

                </div>
            </div>
        </div>
    </div>
</div>
  
<!-- Section About Promo End -->
<!-- Section Features -->
<div class="section">
    <div class="widget-features-grid">
        <div class="wrapper-inner">
            <!-- Features Title -->
            <div class="widget-title">
                <h5>OUR SERVICES</h5>
                <h2>Explore The JacobsCourt Hotel</h2>
                <p style="font-weight: 100; text-align: center; font-size: large;">...Creating a '<i style="color: #DEB151;font-weight: 100;">home away from home </i>' where we indulge your demands, striving to capture your imagination and exceed it.</p>
            </div>
            <!-- Features Title End -->
            <!-- Features Content -->
            <div class="widget-inner">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" data-background="assets/img/P1040980.jpg">
                            <a href="#">
                                <h3 style="font-weight: 300;">Events &amp; Private <br> Hire</h3>
                                <p style="font-weight: 100; text-align: justify; font-size: smaller;">We offers a befitting space for that intimate event with a capacity to host up to 50 guests...</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" data-background="assets/img/young-hotel-maid-putting-stack-fresh-white-bath-towels_171337-12692.jpg">
                            <a href="#">
                                <h3 style="font-weight: 300;">Laundry &amp; Garment Care</h3>
                                <p style="font-weight: 100; text-align: justify; font-size: smaller;">Experience exceptional garment care for your sophisticated wardrobe.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" data-background="assets/img/beautiful-young-woman-enjoys-massage_144627-2074.jpg">
                            <a href="#">
                                <h3 style="font-weight: 300;">Beauty &amp; Wellness <br> Services</h3>
                                <p style="font-weight: 100; text-align: justify; font-size: smaller;">Call to order spa services, beauty, hair and nail care.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" data-background="assets/img/_MG_2406.jpg">
                            <a href="#">
                                <h3 style="font-weight: 300;">Fitness &amp; Health <br>Services</h3>
                                <p style="font-weight: 100; text-align: justify; font-size: smaller;">We understand that regular exercise and physical activity is the path to health and well-being...</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" data-background="assets/img/mexican-protected-delivery-man-delivering-ecological-bag-with-fruits-vegetables-woman_79390-512.jpg">
                            <a href="#">
                                <h3 style="font-weight: 300;">Food Delivery <br> Services</h3>
                                <p style="font-weight: 100; text-align: justify; font-size: smaller;">
                                    24 food delivery, order from our inspired by international and continental
                                    cuisine prepared by world-class in-house chefs...
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" data-background="assets/img/glasses-red-white-wine_140725-1272.jpg">
                            <a href="#">
                                <h3 style="font-weight: 300;">Eat &amp; Drinks <br>Services</h3>
                                <p style="font-weight: 100; text-align: justify; font-size: smaller;">We offer a 24-hour dining experience in our restaurant and lounges and 24-hour room service...</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features Content End -->
        </div>
    </div>
</div>
<!-- Section Features End -->
<!-- Section Offers -->
<div class="section">
    <div class="widget-offers-grid" data-background="assets/img/GGT_9976.jpg">
        <div class="wrapper-inner">
            <!-- Offers Title -->
            <div class="widget-title">
                <h5>OFFERS</h5>
                <h2>The JacobsCourt Hotel <span style="color: #E4B151;">Special</span> Offers</h2>
                <p>Mouth watering offers </p>
            </div>
            <!-- Offers Title End -->
            <!-- Offers Content -->
            <div class="widget-inner">
                <div class="offers-item">
                    <div class="item-inner">
                        <div class="item-photo" data-background="assets/img/tall-vases-with-white-candles-stand-shiny-branches_1304-4763.jpg"></div>
                        <div class="item-desc">
                            <h3>Special Karaoke Night</h3>
                            <p style="font-weight: 100; text-align: justify; font-size: small;">Enjoy 5% Happy hour discounts on all foods and drinks every Thursday night.</p>
                            <a href="#" class="btn-link">Make a Reservation</a>
                        </div>
                    </div>
                </div>
                <div class="offers-item">
                    <div class="item-inner">
                        <div class="item-photo" data-background="assets/img/_MG_2562.jpg"></div>
                        <div class="item-desc">
                            <h3>Book Direct &amp; Save</h3>
                            <p style="font-weight: 100; text-align: justify; font-size: small;">There’s a famous saying ‘early bird catches the worm’– so why not take advantage of our early booking discount...</p>
                            <a href="#" class="btn-link">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offers Content End -->
        </div>
    </div>
</div>
<!-- Section Offers End -->
